/* Catppuccin Latte - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

scrollbar,
scrollbar slider,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  display: none;
  min-width: 0;
  min-height: 0;
  background: none;
  border: none;
}

window {
  background-color: #eff1f5; /* Base */
  border: 1px solid #fe640b;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #fe640b; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #ccd0da; /* Surface0 */
  color: #4c4f69 !important;        /* typed text */
  caret-color: #fe640b;
  border: 1px solid #bcc0cc; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #acb0be;
}
#input:focus {
  border-color: #fe640b; /* Accent */
}
#input::placeholder {
  color: #9ca0b0; /* Overlay0 */
}
#entry {
  color: #4c4f69; /* Text */
}
#entry:selected {
  background-color: #ccd0da; /* Surface0 */
  color: #fe640b; /* Accent */
}
#entry:hover {
  background-color: #bcc0cc; /* Surface1 */
}
#text {
  color: #4c4f69 ; /* Text */
}
#text:selected {
  color: #fe640b; /* Accent */
}


