/* Catppuccin Latte - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

window {
  background-color: #eff1f5; /* Base */
  border: 1px solid #e64553;
}
#outer-box {
  padding: 10px;
}
scrollbar,
undershoot.top,
undershoot.bottom {
  display: flex;
  min-width: 5px;
  min-height: 5px;
  background-color: #eff1f5; /* Base */
}

scrollbar slider{
 color: #e64553; /* Accent */
 background-color: #e64553; /* Accent */
}

#input image {
  color: #e64553; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #ccd0da; /* Surface0 */
  color: #4c4f69 !important;        /* typed text */
  caret-color: #e64553;
  border: 1px solid #bcc0cc; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #acb0be;
}
#input:focus {
  border-color: #e64553; /* Accent */
}
#input::placeholder {
  color: #9ca0b0; /* Overlay0 */
}
#entry {
  color: #4c4f69; /* Text */
}
#entry:selected {
  background-color: #ccd0da; /* Surface0 */
  color: #e64553; /* Accent */
}
#entry:hover {
  background-color: #bcc0cc; /* Surface1 */
}
#text {
  color: #4c4f69 ; /* Text */
}
#text:selected {
  color: #e64553; /* Accent */
}


