/* Catppuccin Latte - Wofi */
window {
  background-color: #eff1f5; /* Base */
  border-color: #d20f39; /* Accent */
}

#input image {
  color: #d20f39; /* Accent */
}
#input {
  background-color: #ccd0da; /* Surface0 */
  color: #4c4f69; /* Text */
  border-color: #bcc0cc; /* Surface1 */
  outline-color: #acb0be; /* Surface2 */
}
#input:focus {
  border-color: #d20f39; /* Accent */
}
#input::placeholder {
  color: #9ca0b0; /* Overlay0 */
}
#entry {
  color: #4c4f69; /* Text */
}
#entry:selected {
  background-color: #ccd0da; /* Surface0 */
  color: #d20f39; /* Accent */
}
#entry:hover {
  background-color: #bcc0cc; /* Surface1 */
}
#text {
  color: #4c4f69; /* Text */
}
#text:selected {
  color: #d20f39; /* Accent */
}

