/* Catppuccin Latte - Wofi */
* {
  font-size: 18px;
}
#scroll {
  background-color: #eff1f5;
}
#outer-box {
  background-color: #eff1f5;
  padding: 10px;
  border: 2px solid #e64553;
}
#main {
  background-color: #eff1f5;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #e64553;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #e64553; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #ccd0da; /* Surface0 */
  color: #4c4f69;        /* typed text */
  caret-color: #e64553;
  border: 1px solid #bcc0cc; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #acb0be;
}
#input:focus {
  border-color: #e64553; /* Accent */
}
#input placeholder {
  color: #eff1f5; /* Overlay0 */
}
#entry {
  background-color: #eff1f5;
  color: #4c4f69;
}
#entry #entry:selected {
  background-color: #ccd0da;
  color: #e64553;
}
#entry:selected {
  background-color: #ccd0da;
  color: #e64553;
}
#entry:hover {
  background-color: #bcc0cc; /* Surface1 */
}
#text {
  color: #4c4f69 ; /* Text */
}
#text:selected {
  color: #e64553; /* Accent */
}


