/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}
#scroll {
  background-color: #303446;
}
#outer-box {
  background-color: #303446;
  padding: 10px;
  border: 2px solid #f2d5cf;
}
#main {
  background-color: #303446;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #f2d5cf;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #f2d5cf; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #414559; /* Surface0 */
  color: #c6d0f5;        /* typed text */
  caret-color: #f2d5cf;
  border: 1px solid #51576d; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #626880;
}
#input:focus {
  border-color: #f2d5cf; /* Accent */
}
#input placeholder {
  color: #303446; /* Overlay0 */
}
#entry {
  background-color: #303446;
  color: #c6d0f5;
}
#entry #entry:selected {
  background-color: #414559;
  color: #f2d5cf;
}
#entry:selected {
  background-color: #414559;
  color: #f2d5cf;
}
#entry:hover {
  background-color: #51576d; /* Surface1 */
}
#text {
  color: #c6d0f5 ; /* Text */
}
#text:selected {
  color: #f2d5cf; /* Accent */
}


