/* Catppuccin Frappé - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

scrollbar,
scrollbar slider,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  display: none;
  min-width: 0;
  min-height: 0;
  background: none;
  border: none;
}

window {
  background-color: #303446; /* Base */
  border: 1px solid #85c1dc;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #85c1dc; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #414559; /* Surface0 */
  color: #c6d0f5 !important;        /* typed text */
  caret-color: #85c1dc;
  border: 1px solid #51576d; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #626880;
}
#input:focus {
  border-color: #85c1dc; /* Accent */
}
#input::placeholder {
  color: #737994; /* Overlay0 */
}
#entry {
  color: #c6d0f5; /* Text */
}
#entry:selected {
  background-color: #414559; /* Surface0 */
  color: #85c1dc; /* Accent */
}
#entry:hover {
  background-color: #51576d; /* Surface1 */
}
#text {
  color: #c6d0f5 ; /* Text */
}
#text:selected {
  color: #85c1dc; /* Accent */
}


