/* Catppuccin Frappé - Wofi */
window {
  background-color: #303446; /* Base */
  border-color: #e78284; /* Accent */
}

#input image {
  color: #e78284; /* Accent */
}
#input {
  background-color: #414559; /* Surface0 */
  color: #c6d0f5; /* Text */
  border-color: #51576d; /* Surface1 */
  outline-color: #626880; /* Surface2 */
}
#input:focus {
  border-color: #e78284; /* Accent */
}
#input::placeholder {
  color: #737994; /* Overlay0 */
}
#entry {
  color: #c6d0f5; /* Text */
}
#entry:selected {
  background-color: #414559; /* Surface0 */
  color: #e78284; /* Accent */
}
#entry:hover {
  background-color: #51576d; /* Surface1 */
}
#text {
  color: #c6d0f5; /* Text */
}
#text:selected {
  color: #e78284; /* Accent */
}

