/* Catppuccin Frappé - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

window {
  background-color: #303446; /* Base */
  border: 1px solid #f4b8e4;
}
#outer-box {
  padding: 10px;
}
scrollbar,
undershoot.top,
undershoot.bottom {
  display: flex;
  min-width: 5px;
  min-height: 5px;
  background-color: #303446; /* Base */
}

scrollbar slider{
 color: #f4b8e4; /* Accent */
 background-color: #f4b8e4; /* Accent */
}

#input image {
  color: #f4b8e4; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #414559; /* Surface0 */
  color: #c6d0f5 !important;        /* typed text */
  caret-color: #f4b8e4;
  border: 1px solid #51576d; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #626880;
}
#input:focus {
  border-color: #f4b8e4; /* Accent */
}
#input::placeholder {
  color: #737994; /* Overlay0 */
}
#entry {
  color: #c6d0f5; /* Text */
}
#entry:selected {
  background-color: #414559; /* Surface0 */
  color: #f4b8e4; /* Accent */
}
#entry:hover {
  background-color: #51576d; /* Surface1 */
}
#text {
  color: #c6d0f5 ; /* Text */
}
#text:selected {
  color: #f4b8e4; /* Accent */
}


