/* Catppuccin Macchiato - Wofi */
window {
  background-color: #24273a; /* Base */
  border-color: #f0c6c6; /* Accent */
}

#input image {
  color: #f0c6c6; /* Accent */
}
#input {
  background-color: #363a4f; /* Surface0 */
  color: #cad3f5; /* Text */
  border-color: #494d64; /* Surface1 */
  outline-color: #5b6078; /* Surface2 */
}
#input:focus {
  border-color: #f0c6c6; /* Accent */
}
#input::placeholder {
  color: #6e738d; /* Overlay0 */
}
#entry {
  color: #cad3f5; /* Text */
}
#entry:selected {
  background-color: #363a4f; /* Surface0 */
  color: #f0c6c6; /* Accent */
}
#entry:hover {
  background-color: #494d64; /* Surface1 */
}
#text {
  color: #cad3f5; /* Text */
}
#text:selected {
  color: #f0c6c6; /* Accent */
}

