/* Catppuccin Macchiato - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

window {
  background-color: #24273a; /* Base */
  border: 1px solid #8aadf4;
}
#outer-box {
  padding: 10px;
}
scrollbar,
undershoot.top,
undershoot.bottom {
  display: flex;
  min-width: 5px;
  min-height: 5px;
  background-color: #24273a; /* Base */
}

scrollbar slider{
 color: #8aadf4; /* Accent */
 background-color: #8aadf4; /* Accent */
}

#input image {
  color: #8aadf4; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #363a4f; /* Surface0 */
  color: #cad3f5 !important;        /* typed text */
  caret-color: #8aadf4;
  border: 1px solid #494d64; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #5b6078;
}
#input:focus {
  border-color: #8aadf4; /* Accent */
}
#input::placeholder {
  color: #6e738d; /* Overlay0 */
}
#entry {
  color: #cad3f5; /* Text */
}
#entry:selected {
  background-color: #363a4f; /* Surface0 */
  color: #8aadf4; /* Accent */
}
#entry:hover {
  background-color: #494d64; /* Surface1 */
}
#text {
  color: #cad3f5 ; /* Text */
}
#text:selected {
  color: #8aadf4; /* Accent */
}


