/* Catppuccin Mocha - Wofi */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
}
window {
  background-color: #1e1e2e; /* Base */
  border: 2px solid #f5c2e7; /* Accent */
}

scrollbar,
scrollbar slider,
undershoot.top,
undershoot.bottom {
  display: none;
  min-width: 0;
  min-height: 0;
  background: none;
}

#input image {
  color: #f5c2e7; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #313244; /* Surface0 */
  color: #cdd6f4; /* Text */
  border: 1px solid #45475a; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #585b70;
}
#input:focus {
  border-color: #f5c2e7; /* Accent */
}
#input::placeholder {
  color: #6c7086; /* Overlay0 */
}
#scroll {
  margin: 0 8px 8px 8px;
}
#inner-box {
  background-color: transparent;
}
#outer-box {
  padding: 4px;
}
#entry {
  padding: 8px 12px;
  color: #cdd6f4; /* Text */
  background-color: transparent;
}
#entry:selected {
  background-color: #313244; /* Surface0 */
  color: #f5c2e7; /* Accent */
}
#entry:hover {
  background-color: #45475a; /* Surface1 */
}
#text {
  color: #cdd6f4; /* Text */
}
#text:selected {
  color: #f5c2e7; /* Accent */
}
#img {
  margin-right: 8px;
}
