/* Catppuccin Mocha - Wofi */
/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}

window {
  background-color: #1e1e2e; /* Base */
  border: 1px solid #cba6f7;
}
#outer-box {
  padding: 10px;
}
scrollbar,
undershoot.top,
undershoot.bottom {
  display: flex;
  min-width: 5px;
  min-height: 5px;
  background-color: #1e1e2e; /* Base */
}

scrollbar slider{
 color: #cba6f7; /* Accent */
 background-color: #cba6f7; /* Accent */
}

#input image {
  color: #cba6f7; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #313244; /* Surface0 */
  color: #cdd6f4 !important;        /* typed text */
  caret-color: #cba6f7;
  border: 1px solid #45475a; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #585b70;
}
#input:focus {
  border-color: #cba6f7; /* Accent */
}
#input::placeholder {
  color: #6c7086; /* Overlay0 */
}
#entry {
  color: #cdd6f4; /* Text */
}
#entry:selected {
  background-color: #313244; /* Surface0 */
  color: #cba6f7; /* Accent */
}
#entry:hover {
  background-color: #45475a; /* Surface1 */
}
#text {
  color: #cdd6f4 ; /* Text */
}
#text:selected {
  color: #cba6f7; /* Accent */
}


