/* Catppuccin Mocha - Wofi */
window {
  background-color: #1e1e2e; /* Base */
  border-color: #a6e3a1; /* Accent */
}

#input image {
  color: #a6e3a1; /* Accent */
}
#input {
  background-color: #313244; /* Surface0 */
  color: #cdd6f4; /* Text */
  border-color: #45475a; /* Surface1 */
  outline-color: #585b70; /* Surface2 */
}
#input:focus {
  border-color: #a6e3a1; /* Accent */
}
#input::placeholder {
  color: #6c7086; /* Overlay0 */
}
#entry {
  color: #cdd6f4; /* Text */
}
#entry:selected {
  background-color: #313244; /* Surface0 */
  color: #a6e3a1; /* Accent */
}
#entry:hover {
  background-color: #45475a; /* Surface1 */
}
#text {
  color: #cdd6f4; /* Text */
}
#text:selected {
  color: #a6e3a1; /* Accent */
}

